/* Products */
.products {
  padding: 0;
  margin: 0;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  border-color: #fde0e5;
  background: #fde0e5;
  border-radius: 20px;
  padding: 15px;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 30px;
}

.card span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.card h3 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Gabriola';
}

.card p {
  font-family: 'AKbalthom KhmerHand';
}

.card span {
  font-family: 'AKbalthom KhmerHand';
  font-size: 25px;
}

.color {
  border: none;
  width: 170px;
  height: 50px;
  border-radius: 18px;
  background-color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease;

}