* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #8fb1bf;
    color: white;
}

/* HERO */
.hero {
    position: relative;
    height: 60vh;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    bottom: 40px;
    left: 60px;
}

.hero-text h1 {
    font-size: 90px;
    letter-spacing: 5px;
    font-family: 'Gabriola';
}

.hero-text p {
    font-size: 14px;
    opacity: 0.9;
}

/* INFO */
.info {
    display: flex;
    gap: 30px;
    padding: 50px 80px;
    background: rgba(255, 255, 255, 0.1);
}

.description p {
    font-family: 'AKbalthom KhmerHand';
}

.poster {
    width: 220px;
    border-radius: 10px;
}

.description {
    max-width: 700px;
    line-height: 1.6;
}

/* IMAGE */
.gallery {
    padding: 50px 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery img {
    width: 500px;
    height: 250px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* CARD */
.products {
    padding: 60px 20px;
    text-align: center;
}

.products h2 {
    font-size: 40px;
    font-family: 'Kh BL LazyOutline';
}

.products h3 {
    font-family: 'Gabriola';
    font-size: 30px;
    font-weight: 500;
}

.products p {
    font-family: 'AKbalthom KhmerHand';
}

.products span {
    font-family: 'AKbalthom KhmerHand';
    font-size: 25px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 15px;
}

.card img {
    width: 100%;
    height: 235px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.color{
  border: none;
  width: 170px;
  height: 50px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.2s ease;

}

/* QUOTE */
.quote {
    text-align: center;
    padding: 40px;
    font-style: italic;
    background: rgba(0, 0, 0, 0.25);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .info {
        flex-direction: column;
        align-items: center;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-text h1 {
        font-size: 48px;
    }
}